# MongoDB Connection String
# Get this from: https://cloud.mongodb.com/v2/69e1f076566e2475ec6774fd#/connect
# Format: mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://username:password@your-cluster.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=child_abuse
